

*, 
 *::before, 
 *::after {
  box-sizing: border-box;
 }
body{
  background-color: #0a1828;
  color: #f8f7f4;
}

.repo-name {

  font-size: 1rem;
  word-break: break-word;
  white-space: nowrap;
  color: #178582;
}